name: deepx
description: "A new Flutter project."
publish_to: 'none'
version: 0.1.0

environment:
  sdk: '>=3.2.6 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  collection: ^1.18.0
  js: ^0.7.1
  shared_preferences: ^2.2.3
  google_fonts: ^6.2.1
  model_viewer_plus: ^1.7.0
  web: ^0.5.1

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter:
  uses-material-design: true